/* CSS reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}


/* This centers everything responsively */
header, section, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#map {
    height: 80vh;
    width: 100%;
}